<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>  
    <title>Index Page</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>  

<body> 




    <h1>Display data</h1> 
    
    
       
  <table>  
<tr>  
<td><h4>User Name: </h4></td>  
<td><h4 th:text="${userEntity.name}"></h4></td>  
</tr>  
<tr>  
<td><h4>ID: </h4></td>  
<td><h4 th:text="${userEntity.id}"></h4></td>  
</tr>  
</table> 
 
    
    
<!--    
  <table>  
<tr>  
<td><h4>User Name: </h4></td>  
<td><h4 th:text="${name}"></h4></td>  
</tr>  
<tr>  
<td><h4>ID: </h4></td>  
<td><h4 th:text="${id}"></h4></td>  
</tr>  
</table> 
  -->
 
 
 
</body>  
</html>
